body{
    padding: 0;
    margin: 0;
}
#page_sofie{
    width: 100%;
    margin: 0 auto;
}


.menu-sofie {
    width: 100%;
    background: #8bb5ca;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.menu-sofie >li {
    display: inline-block;
}

.menu-sofie > li >a {
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
.menu-sofie >li >a:hover {
    font-weight: bold;
}


/* banner */
.main{
    max-width: 1200px;
    margin: 0 auto;
}

.main-logo-sofie{
text-align: center;
}

.main-logo-baner {
    margin-bottom: 5em;
    text-align: center;
}

.main-logo-baner > img {
    width: 100%;
}

.section-main {
    width: 60%;
    float: left;
}

.section-main-title{
    text-align: center;
    margin-bottom: 20px;
}

.tittle{
    text-decoration: none;
    text-transform: uppercase;
    color: #8bb5ca;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.subtittle {
    font-weight: bold;
    font-family: 'Lora', serif;
    font-size: 20px;

}

.fecha {
    font-size: 0.7em;
    color: rgb(47, 47, 47);
    font-weight: bold;
}

.section-main-image {
    width: 100%;  
}

.section-main-image > img {
    width: 100%;
}

.section-main-parrafo {
    
}

.section-main-continue{
    text-align:right;
    margin: 25px;
}
.section-main-continue > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #8bb5ca;
    font-size: 12px;
}

.section-main-continue > a:hover {
    color: #000;
}

.article-description {
    width: 46%;
    float: right;

}

aside {
    float: right;
    width: 35%;
}

.container-categories{
    width: 100%;
    margin: 0;
    padding: 0;
}
.tittle-categories{
    text-decoration: none;
    color: #8bb5ca;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}

.container-tittle {
    text-align: center;
    margin: 1em;
}

.container-categories-categorie > ul {
    list-style: none;
    padding: 0;
}
.categorie:hover {
    color: #fff;
}
.color {
    margin: 5px;
    padding: 5px;
}
.color:hover {
    background: #8bb5ca;
}

.categorie {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 3px;
    font-family: 'Open Sans', sans-serif;

}
.numer {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-right: 3px

}
.clearflix {
    overflow: auto;
}
.last-post-article {
    margin: 25px 0;
}
.post-rigth {
    float: right;
    width: 60%;
}

.post-description {
    font-family: 'Lora', serif;
    font-weight: bold;

}

.image-clearflix{
    float: left;
}

.lastest-post{
    color: #8bb5ca;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}

.lastest-post-tittle {
    text-align: center;
    margin: 1em;
        
}

h3 {
    font-family: 'Lora', serif;
    font-weight: bold;
}

.article-tiitle-main{
    text-decoration: none;
    color: #8bb5ca;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 15px;

}

.article-image{
    float: left;
}

.article-image-description {
    width: 100%;
}

.container-footer {
    clear: both;
    width: 100%;
    background:#8bb5ca;
    text-align: center;
    padding: 0;
    margin: 0;
    
}

.article-section {
    padding: 2em;
}
.copy {
    padding:15px;
    color: #fff;
    margin: 0;
}

.paginacion {
	margin:20px 0;
}
 
.paginacion ul {
	list-style:none;
	text-align: center;
}
 
.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}
 
.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#8bb5ca;
	text-decoration: none;
    font-size: 12px;
}
 
.paginacion ul li a:hover {
	background:#000;
    color: #fff;
    border-radius: 50%;
}
 
.continue-page {
    float: right;
    display: inline-flex;
    padding:10px 20px;
}

.continue-page > a {
    text-decoration: none;
    color:#8bb5ca;
    text-transform: uppercase;
    font-size: 12px
}